.intro-container {
  background-color: rgba(255, 245, 238, 0.486);
  position: relative;
  height: 100%;
  text-align: center;
  color: rgb(104, 64, 38);
}
.intro-pic {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.intro-context {
  position: absolute;
  bottom: 5vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.intro-context > p {
  font-size: 20px;
  font-weight: bold;
}
.intro-context > h1 ~ h2 {
  font-size: 30px;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@media screen and (min-width: 720px) and (max-width: 960px) {
  .intro-context {
    bottom: 20vh;
  }
  .intro-context > p {
    font-size: 30px;
    font-weight: bold;
  }
  .intro-context > h1 ~ h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 960px) {
  .intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .intro-pic {
    width: 40%;
  }
  .intro-context {
    position: static;
    padding: 20vh;
  }
  .intro-context > p {
    font-size: 30px;
    font-weight: bold;
  }
  .intro-context > h1 ~ h2 {
    font-size: 40px;
  }
  .fadeOut {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
}
